.App {
  text-align: center;
  font-family: cursive;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* ************************ */

.section1 {
  height: 100vh;
  width: 100%;
  background-color: #282c34;
  color: aliceblue;
  display: flex;
  align-items: center;
  margin: 0 !important;
  font-weight: 900;
  color: bisque;
  background-size: cover;
  background-position-y: 50%;
  background-blend-mode: soft-light;
}

.content {
  width: 100%;
}

.title {
  font-size: 3.75rem;
}

.description {
  font-size: 1.5rem;
}

.btn {
  margin-top: 20px;
}

.section2 {
  width: 100%;
  background-color: aliceblue;
  color: #282c34;
}

.model {
  width: 100%;
}

.demo_text {
  margin: auto;
}

.demo_title {
  text-align: left;
  font-size: 3rem;
}

.demo_description {
  text-align: left;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.demo_image {
  width: -webkit-fill-available;
  border-radius: 35px;
}

.icon_group {
  margin: 30px;
}

.share_link_icon {
  width: 64px;
  height: 40px;
}

.share_link_icon svg:hover {
  color: rgba(199, 210, 254, 1);
}

.demo_mobile {
  display: none !important;
}

.demo_lap {
  display: flex !important;
}

@media only screen and (max-width: 600px) {
  .demo_mobile {
    display: flex !important;
  }
  
  .demo_lap {
    display: none !important;
  }
}